[Unit]
Description=Raspberry Pi Zero %i Monitor
After=time-sync.target

[Service]
User=oscar
Group=oscar
Type=simple
ExecStart=/home/oscar/.python/co2/bin/python /home/oscar/monitor/scripts/%i.py
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
